<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:3000/posts/new" method="post">
        <input type="text" placeholder="Enter username" name="username">
        <input type="text" placeholder="Content" name="content">
        <button>Submit</button>
    </form>
</body>
</html>